<ng-container *ngIf="!selectedView">
  <div class="text-right">
    <button mat-button (click)="selectedView = !selectedView">
      Selected ({{ isSelectedA().length }}/{{ listA.length }})
    </button>
  </div>
  <mat-form-field>
    <input matInput placeholder="Filter" [(ngModel)]="filterA" #itemSearchA />
    <button
      *ngIf="filterA"
      matSuffix
      mat-icon-button
      aria-label="Clear"
      (click)="filterA = ''"
      (keyup.enter)="filterA = ''"
      (keyup.space)="filterA = ''"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <div class="list-container">
    <mat-selection-list>
      <mat-list-option
        *ngFor="
          let el of listA
            | transferFilter : itemSearchA.value
            | orderBy : 'title'
        "
        [selected]="el.selected"
        (click)="el.selected = !el.selected"
        (keyup.enter)="el.selected = !el.selected"
        (keyup.space)="el.selected = !el.selected"
        checkboxPosition="before"
      >
        {{ el.title }}
      </mat-list-option>
    </mat-selection-list>
  </div>
</ng-container>

<ng-container *ngIf="selectedView">
  <div>
    <button mat-button (click)="selectedView = !selectedView">← back</button>
  </div>
  <div class="list-container">
    <div
      *ngFor="let el of isSelectedA() | orderBy : 'title'"
      class="flex items-center bg-gray"
    >
      <button mat-icon-button (click)="el.selected = !el.selected">
        <mat-icon>close</mat-icon>
      </button>
      <span>
        {{ el.title }}
      </span>
    </div>
  </div>
</ng-container>
