:host {
  display: flex;
  flex-direction: column;
}

.list-container {
  height: calc(100vh - 330px);
  overflow-y: auto;
  min-width: 320px;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
.m-4 {
  margin: 1rem;
}

.p-4 {
  padding-right: 1rem;
  padding: 1rem;
}
.text-right {
  text-align: right;
}
.bg-gray:hover {
  background-color: rgb(230, 230, 230);
}
