:host {
  display: block;
}

.scroll-area {
  height: 255px;
  overflow: scroll;
}
.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.items-center {
  align-items: center;
}

.flex-col {
  flex-direction: column;
}
.m-4 {
  margin: 1rem; /* 16px */
}
