@use "sass:map";
@use "@angular/material" as mat;
@use "@dhutaryan/ngx-mat-timepicker" as mat-timepicker;

$primary: mat.define-palette(mat.$green-palette);
$accent: mat.define-palette(mat.$indigo-palette);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: 0,
  )
);
@include mat.core();
@include mat.all-component-themes($theme);
@include mat-timepicker.timepicker-theme($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
