@use "sass:map";
@use "@angular/material" as mat;
@use "../../components-lib/src/components/timepicker/" as mat-timepicker;

$publix-palette: (
  50: #eaf3e7,
  100: #86ca72,
  200: #6bbf52,
  300: #51b330,
  400: #47a427,
  500: #2d810e,
  600: #296614,
  700: #0f6200,
  800: #1b4d08,
  900: #123406,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
  ),
);

$primary: mat.define-palette($publix-palette, 500, 600);
$accent: mat.define-palette($publix-palette, 100, 200, 400, 500);
$warn: mat.define-palette(mat.$red-palette);
$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent,
      warn: $warn,
    ),
    typography: mat.define-typography-config(),
    density: "default",
  )
);

@include mat-timepicker.timepicker-theme($theme);
@include mat.core();
@include mat.all-component-themes($theme);

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body * {
  box-sizing: border-box;
}
